apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: myapp

  strategy:
    type: Recreate

  template:
    metadata:
      labels:
        app: myapp

    spec:
      containers:
      - name: mysql-c
        image: mysql:5.6
        env:
          - name: MYSQL_ROOT_PASSWORD
            valueFrom:
              secretKeyRef:
                name: mysql-secret
                key: MYSQL_ROOT_PASSWORD
        ports:
        - containerPort: 3306
          name: mysql-port

        volumeMounts:
          - name: mysql-volumemount
            mountPath: /var/lib/mysql

  # Mount DB initialization script
          - name: usermanagement-db-init-script
            mountPath: /docker-entrypoint-initdb.d/  # Mounted to /docker-entrypoint-initdb.d/ (MySQL automatically runs scripts from this folder)
      
      volumes:
        - name: mysql-volumemount
          persistentVolumeClaim:
            claimName: ebs-mysql-pvc

        - name: usermanagement-db-init-script
          configMap:
            name: myconfigmap